.row.header
  .menu.col-md-3.hidden-xs.hidden-sm
    a(href='/')
      img(ng-src='/assets/logo/logo-64.png' versioned)

  .header.col-md-6
    div.ng-cloak(ng-if='app.header')
      h1
        span(ng-if='app.header.icon' class="oi oi-{{app.header.icon}}")
        | {{app.header.title}}
  .action.col-md-3
    div.top-action-button.fade-ng-show(ng-show='app.action.show')
      a.ng-cloak(href='{{app.action.url}}' class='btn btn-primary btn-block') {{app.action.title}}
.row
  .col-md-3.side-menu-wrapper(ng-class="{collapsed: app.menuCollapse}")
    nav.navbar.navbar-default.side-menu(role="navigation")
      .navbar-header.hidden-md.hidden-lg
        button.navbar-toggle(data-target="#navbar-collapsable" data-toggle="collapse" type="button")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          img(ng-src='/assets/logo/logo-48.png' class='pix' versioned)
      #navbar-collapsable.collapse.navbar-collapse
        ul.nav.navbar-nav
          li: a(ui-sref="user.machines.index" ui-sref-active='active')
            span.oi.oi-monitor
            | Machines
          li(ng-repeat="link in user.navbarLinks | orderBy: 'priority'"): a(ui-sref='{{link.state}}' ui-sref-active='active')
            span.oi(class="{{link.iconClass}}")
            | {{link.title}}
          li(ng-if='user.logoutAvailable'): a(ui-sref='logout' ui-sref-active='active')
            span.fa.fa-sign-out
            | Sign out
    .dropdown
      button.btn.btn-primary
        span.caret
    span(ng-if='app.hasAdminMode')
      switcher(ng-model='app.adminMode' left='User' right='Admin' left-icon='fa fa-rocket' right-icon='fa fa-gear')
  .col-md-9(style='position: relative;')
    div(ui-view="")