.page-devise {
  color: $vk-credentials-color;

  @media(max-width: $screen-sm-max) {
    margin-top: -$navbar-height;
  }

  a {
    text-decoration: none;
  }

  .wrapper-container {
    width: 100%;
    max-width: 19.444em;
  }

  .alert-wrapper-container {
    width: 100%;
    max-width: 28em;

    .alert {
      text-align: center;
      padding: 1.5em 2em;
      margin: 0;

      margin-top: 1.5em;
      @media (min-width: $grid-float-breakpoint-max) {
        margin-top: 2em;
      }

      color: $vk-credentials-alert-info-color;
      border-color: $vk-credentials-alert-info-border-color;
      background-color: $vk-credentials-alert-info-bg-color;
    }
  }

  .logo-container {
    margin-top: 1em;

    @media (min-width: $grid-float-breakpoint-max) {
      margin-top: 5em;
    }
  }

  .form-container {
    margin-bottom: 1.5em;
  }

  .logo {
    text-align: center;
    
    img {
      margin-left: $vk-img-logo-center-left-margin;
    }
  }

  .checkbox {
    margin-top: 0em;
  }

  .form {
    .header {
      margin-top: 0.8em;
      margin-bottom: 0em;
      
      @media (min-width: $grid-float-breakpoint-max) {
        margin-top: 1.2em;
        margin-bottom: 0.694em;
      }
      text-align: center;
    }

    .input-group-addon {
      height: 1.388em;
      line-height: 1.388em;
      font-size: 1.111em;
      color: $vk-credentials-input-addon-color;

      .fa {
        width: 1.388em;
      }
    }

    .input-group {
      margin-top: 0.05em;

      @media (min-width: $grid-float-breakpoint-max) {
        margin-top: 0.555em;
      }
    }

    input[type="email"], input[type="text"], input[type="password"] {
       height: 2.611em;
       font-size: 0.944em;
       line-height: 2.611em;
       color: $vk-credentials-input-color;
    }

    label {
      font-size: 0.944em;
    }
  }

  .actions {
    text-align: center;
    margin-top: 0.5em;
    @media (min-width: $grid-float-breakpoint-max) {
      margin-top: 1.3em;
    }

    .btn-login {
      padding: 1.3em 5em;
      max-width: 100%;
    }

    .btn-sign-up {
      margin-top: 0.5em;
      padding: 1.3em 5em;
      max-width: 100%;
    }
  }

  .opaque {
    opacity: 0.5;
    @include transition(opacity 0.25s ease 0s);

    &:hover {
      opacity: 1;
    }
  }

  .forgot {
    @extend .opaque;
    a {
      color: $vk-credentials-color;
    }
  }

  .rest {
    @extend .opaque;
    text-align: center;
    margin-top: 1em;
    @media (min-width: $grid-float-breakpoint-max) {
      margin-top: 1.3em;
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .clear {
    clear: both;
  }
}