.canvas-wrapper(ng-mouseenter='grab()', ng-mouseleave='ungrab()')
  .overlay
    .overlay-bg
    .state
      div(ng-if='state.requesting.start || state.requesting.forceRestart')
        .btn.btn-primary.symbol(disabled=1)
          preloader(started,size=70)
        .description
          p(ng-if='state.requesting.start')
            | Machine is starting.
          p(ng-if='state.requesting.forceRestart')
            | Machine is restarting.
      div(ng-else-if='state.status.id == "stopped"')
        .btn.btn-primary.symbol(ng-click="state.start()",ng-disabled='state.requesting.start')
          div(ng-if='!state.requesting.start')
            .icon.fa.fa-play
          div(ng-if='state.requesting.start')
            preloader(started,size=70)
        .description
          p
            | Machine is stopped.
      div(ng-else-if='state.status.id == "suspended"')
        .btn.btn-primary.symbol(ng-click="state.resume()")
          div(ng-if='!state.requesting.resume')
            .icon.fa.fa-play
          div(ng-if='state.requesting.resume')
            preloader(started,size=70)
        .description
          p
            | Machine paused.
  vnc(host='localhost' port=3000 path='machines/{{state.id}}/vnc' is-connected='true' password='{{state.vncPassword}}' display="display" interface='interface')
