#page-setup {
  @media(max-width: $screen-sm-max) {
    margin-top: -$navbar-height;
  }

  .header {
    margin-top: 1.64em;
    .logo {
      display: inline-block;
      width: auto;

      .virt-name {
        padding-left: 10px;
        padding-top: 35px;
      }
    }

    @media(max-width: $screen-sm-max) {
      margin-top: 0.64em;
      text-align: center;
      
      .logo {
        padding-right: 2.6em;
      }
    }
  }

  .options {
    margin-top: 5.6em;
    @media(max-width: $screen-sm-max) {
      margin-top: 0em;
    }

    h4 {
      font-size: 1.1em;
      color: $vk-setup-color;
      @media(max-width: $screen-sm-max) {
        margin-top: 2em;
        margin-bottom: 1em;
        text-align: center;
      }
    }

    .option {
      text-align: left;
      margin-top: 1.64em;
      margin-bottom: 1.64em;

      @media(max-width: $screen-sm-max) {
        margin-top: 0.9em;
        margin-bottom: 0.9em;
      }


      &.disabled {
        .button-wrapper .btn {
          opacity: $vk-setup-button-disabled-opacity;
        }
        
        .text-wrapper {
          opacity: $vk-setup-button-disabled-opacity;
        }
      }

      .button-wrapper {
        display: inline-block;
        vertical-align: top;
        height: 4.2em;
      }

      .text-wrapper {
        display: inline-block;
        vertical-align: top;
        padding-top: 1.6em;
        margin-left: 1.95em;
        
        @media(max-width: $screen-sm-max) {
          margin-left: 1.55em;
        }

        .title {
          font-size: 1.1em;
          font-weight: bold;
        }

        .disclaimer {
          font-size: 0.9em;
          color: $vk-setup-color;
        }     
      }

      .form-wrapper {
        margin-top: 1.8em;
        color: $vk-setup-color;

        @media(max-width: $screen-sm-max) {
          .form-control {
            font-size: 0.9em;
          }
        }

        .no-margin {
          margin-bottom: 0px;
        }
      }
    }
  }

  .launch {
    margin-top: 9.2em;
    margin-bottom: 2em;
    float: right;
    text-align: center;
    
    @media(max-width: $screen-sm-max) {
      margin-top: 3em;
      float: none;
    }

    .btn {
      padding-left: 3em;
      padding-right: 3em;
      &.ng-hide-add,
      &.ng-hide-remove
      {
        -webkit-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

      }
      &.ng-hide {
        opacity: 0;
        transform: scale(0.0);
      }
      transform: scale(1.0);
    }
  }

  .btn.chooser {
    padding: 1.1em;
    line-height: 1.5em;
    width: 4.5em;
    box-shadow: none !important;
    box-sizing: border-box;
    color: $vk-setup-button-color;
    background-color: $vk-setup-button-bg-color;
    border-radius: $vk-setup-button-border-radius;
    border-color: $vk-setup-button-border-color;
    border-bottom-color: $vk-setup-button-border-color;
    @include transition(all, 0.25s, ease-in, 0s);

    .fa {
      font-size: 1.8em;
    }

    &:hover, &:active, &.active {
      color: $vk-setup-button-active-color;
      background-color: $vk-setup-button-active-bg-color;
      @if $vk-setup-button-border-bottom-active-size == 0px {
        border-bottom: solid 1px $vk-setup-button-active-border-color;
      } @else {
        border-bottom: solid $vk-setup-button-border-bottom-active-size $vk-setup-button-active-border-color;
      }
    }
  }
  .private-cloud-form {
    &.ng-hide-add,
    &.ng-hide-remove
    {
      -webkit-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -moz-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -ms-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      -o-transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      transition: 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
      position: relative;
      display: block;
      overflow: hidden;
      text-overflow: clip;
      white-space:nowrap;
    }

    &.ng-hide {
      opacity: 0;
      width: 0px;
      height: 0px;
    }

    opacity: 1;
    height: 200px;
  }

}


