.checkbox .btn.btn-default {
  color: $vk-checkbox-color;
  border-color: $vk-checkbox-border-color;
  background-color: $vk-checkbox-bg-color;

  &:hover, &:active, &:focus {
    background-color: $vk-checkbox-hover-bg-color;
  }
}