- @header = 'Machines'
- @icon = 'monitor'


= object_to_json_constant 'isoImagesData', @iso_images
= object_to_json_constant 'diskTypes', @disk_types
= object_to_json_constant 'isosData', @isos
= object_to_json_constant 'plansData', @plans
= object_to_json_constant 'diskPlans', Defaults::DiskSizePlan.all

- content_for :scripts do
  = requirejs_include_tag 'application'

- content_for :action do
  - if user_signed_in?
    = link_to 'Create a new machine', new_machine_path, class: 'btn btn-primary btn-block'

base href="/machines/"
div(ui-view)