- @header = 'Create a New Machine'
- @icon = 'monitor'

- content_for :scripts do
  = requirejs_include_tag 'pages/machineNew'

= object_to_json_constant 'plans_data', @plans
= object_to_json_constant 'isos_data', @isos

== render partial: 'new_ui'