// ------ sizes ------ // 

$header-small: 19px !default;

$text-big: 17px !default;
$text-normal: 16px !default;
$text-small: 15.33px !default;
$text-caption: 14.5px !default;

// ------ colors ------ // 

$vk-brand-primary-color: #EC4863 !default; // pinkish 
$vk-brand-secondary-color: #8F6E84 !default; // dirty violet

$vk-contrary-color: #28292E !default; // dark almost black blue
$vk-contrary-front-color: #9CA3BA !default; // light blue

$vk-body-bg-color: #FFFFFF !default; // white
$vk-text-color: #554F57 !default; // almost black violet
$vk-text-mild-color: #9E8697 !default; // normal readable light violet
$vk-border-color: #F0DDEB !default; // light pink/violet

$vk-static-color: #8E7687 !default; // light violet for cream bg
$vk-static-light-color: #CBBFC5 !default; // muted light violet for cream bg
$vk-static-bg-color: #F4F2E9 !default; // creamy 
$vk-static-bg-light-color: #F0EDE3 !default; // lighter creamy
$vk-static-bg-mild-color: #F9F8F4 !default; // almost not visible creamy 
$vk-static-field-bg-color: #FFFFFF !default; // white

$vk-action-run-color: #3FC380 !default; // green
$vk-action-pause-color: #A2DED0 !default; // light blue
$vk-action-restart-color: #F2784B !default; // orange
$vk-action-stop-color: #EC4863 !default; // pinkish

$vk-muted-color: #D1C7CF !default; // violet muted on white
$vk-dead-color: #000000 !default; // black
$vk-danger-color: $vk-action-stop-color !default; // pink
$vk-transparent-color: transparent !default; // transparent
$vk-element-on-color: #EC4863 !default; // pink (duplicated primary)
$vk-element-off-color: #E1DFD8 !default; // a little creamy gray

$vk-border-radius: 4px !default;
$vk-border-large-radius: 4px !default;
$vk-border-small-radius: 4px !default;

// TODO:
// 2. track all written (i.e. white)
// 3. track all hardcorded with regexp #...
// 4. check for all inproper bootstrap vars use
// 5. refactor size vars names
// 6. additional variables - border radius, shading?

// ------ vk components ------ // 

$vk-logo-bg-color: $vk-static-bg-color !default;

$vk-navbar-color: $vk-text-mild-color !default;
$vk-navbar-bg-color: $vk-static-bg-color !default;
$vk-navbar-icon-color: $vk-brand-primary-color !default;
$vk-navbar-icon-hover-bg-color: $vk-brand-primary-color !default;
$vk-navbar-icon-active-border-radius: $vk-border-radius !default;
$vk-navbar-border-radius: $vk-border-radius !default;

$vk-navpills-border-radius: $vk-border-radius !default; 
$vk-navpills-active-border-radius: 0px !default;

$vk-button-primary-bg-color: $vk-brand-primary-color !default;
$vk-button-danger-color: lighten($vk-action-stop-color, 35%) !default;
$vk-button-danger-bg-color: $vk-action-stop-color !default;
$vk-button-danger-border-color: $vk-button-danger-bg-color !default;
$vk-button-danger-hover-bg-color: darken($vk-button-danger-bg-color, 10%) !default;
$vk-button-danger-hover-border-color: $vk-button-danger-hover-bg-color !default;
$vk-button-border-radius: $vk-border-radius !default;

$vk-dropdown-bg-color: $vk-static-bg-color !default;
$vk-dropdown-border-radius: $vk-border-radius !default;

$vk-input-color: $vk-text-color !default;
$vk-input-border-color: $vk-border-color !default;
$vk-input-border-hover-color: darken($vk-border-color, 20%);
$vk-input-border-radius: $vk-border-radius !default;
$vk-input-border-large-radius: $vk-border-large-radius !default;
$vk-input-border-small-radius: $vk-border-small-radius !default;
$vk-input-error-color: $vk-brand-primary-color !default;
$vk-input-error-border-color: lighten($vk-brand-primary-color, 15%) !default;
$vk-input-success-color: $vk-text-color !default;
$vk-input-success-border-color: lighten($vk-brand-secondary-color, 15%) !default;
$vk-input-addon-color: $vk-brand-primary-color !default;
$vk-input-placeholder-color: $vk-muted-color !default;

$vk-radio-color: $vk-text-color !default;
$vk-radio-border-color: $vk-border-color !default;
$vk-radio-bg-color: $vk-transparent-color !default;
$vk-radio-border-color: $vk-border-color !default;
$vk-radio-border-radius: $vk-border-radius !default;
$vk-radio-stripe-bg-color: $vk-border-color !default;
$vk-radio-active-bg-color: $vk-static-bg-light-color !default;
$vk-radio-active-stripe-bg-color: $vk-brand-primary-color !default;

$vk-table-color: $vk-text-mild-color !default;
$vk-table-header-icon-color: $vk-static-light-color !default;
$vk-table-border-color: $vk-border-color !default;
$vk-table-border-radius: $vk-border-radius !default;
$vk-table-button-color: $vk-static-light-color !default;
$vk-table-stripe-bg-color: $vk-static-bg-mild-color !default;
$vk-table-total-color: $vk-static-color !default;
$vk-table-more-color: $vk-text-mild-color !default;
$vk-table-more-hover-color: $vk-brand-primary-color !default;
$vk-table-more-icon-color: $vk-brand-primary-color !default;

$vk-alert-info-color: $vk-text-color !default;
$vk-alert-info-bg-color: $vk-static-bg-light-color !default;
$vk-alert-info-border-color: $vk-alert-info-bg-color !default;
$vk-alert-error-color: darken(red, 35%) !default;
$vk-alert-error-bg-color: lighten(red, 10%) !default;
$vk-alert-error-border-color: $vk-alert-error-bg-color !default;
$vk-alert-border-radius: $vk-border-radius !default;

$vk-modal-header-color: $vk-text-mild-color !default;
$vk-modal-header-bg-color: $vk-static-bg-light-color !default;
$vk-modal-body-bg-color: $vk-body-bg-color !default;
$vk-modal-footer-bg-color: $vk-body-bg-color !default;
$vk-modal-border-radius: $vk-border-radius !default;

$vk-progress-border-radius: $vk-border-radius !default;

$vk-dashboard-color: $vk-static-color !default;
$vk-dashboard-bg-color: $vk-static-bg-color !default;
$vk-dashboard-border-radius: $vk-border-radius !default;
$vk-dashboard-field-bg-color: $vk-static-field-bg-color !default;
$vk-dashboard-field-border-radius: $vk-border-radius !default;
$vk-dashboard-inverse-color: $vk-text-mild-color !default;
$vk-dashboard-inverse-border-color: $vk-border-color !default;
$vk-dashboard-inverse-border-radius: $vk-border-radius !default;
$vk-dashboard-inverse-field-bg-color: $vk-static-bg-color !default;
$vk-dashboard-inverse-field-border-radius: $vk-border-radius !default;
$vk-dashboard-inverse-danger-border-color: lighten($vk-danger-color, 20%) !default;

$vk-preloader-rocket-color: $vk-body-bg-color !default;
$vk-preloader-window-color: $vk-brand-primary-color !default;

$vk-switcher-color: lighten($vk-text-color, 30%) !default;
$vk-switcher-hover-color: darken($vk-text-color, 10%) !default;
$vk-switcher-active-color: $vk-text-color !default;
$vk-switcher-bg-color: $vk-static-bg-color !default;
$vk-switcher-size: 32px !default;
$vk-switcher-border-radius: $vk-border-radius !default;
$vk-switcher-handle-color: $vk-body-bg-color !default;
$vk-switcher-handle-bg-color: $vk-brand-primary-color !default;

$vk-console-bg-color: $vk-static-bg-color !default;
$vk-console-button-color: $vk-text-mild-color !default;
$vk-console-button-border-color: $vk-static-light-color !default;
$vk-console-overlay-color: $vk-contrary-front-color !default;
$vk-console-overlay-bg-color: $vk-contrary-color !default;
$vk-console-diode-on-bg-color: $vk-element-on-color !default;
$vk-console-diode-off-bg-color: $vk-element-off-color !default;
$vk-console-border-radius: $vk-border-radius !default;
$vk-console-screen-border-radius: $vk-border-radius !default;

$vk-newsletter-header-color: $vk-brand-primary-color !default;
$vk-newsletter-result-color: $vk-brand-primary-color !default;
$vk-newsletter-bg-color: lighten($vk-static-bg-color, 3%) !default;

$vk-setup-color: $vk-text-mild-color !default;
$vk-setup-button-color: $vk-muted-color !default;
$vk-setup-button-bg-color: $vk-transparent-color !default;
$vk-setup-button-active-color: $vk-brand-primary-color !default;
$vk-setup-button-border-color: $vk-border-color !default;
$vk-setup-button-border-radius: $vk-border-radius !default;
$vk-setup-button-border-stripe-active-radius: $vk-border-radius !default;
$vk-setup-button-disabled-opacity: 0.4;
$vk-setup-button-active-border-color: $vk-brand-primary-color !default;

$vk-credentials-color: $vk-text-mild-color !default;
$vk-credentials-muted-color: $vk-muted-color !default;
$vk-credentials-input-color: $vk-brand-secondary-color !default;
$vk-credentials-input-addon-color: $vk-muted-color !default;
$vk-credentials-alert-info-color: $vk-static-color !default;
$vk-credentials-alert-info-border-color: $vk-static-bg-color !default;
$vk-credentials-alert-info-bg-color: $vk-static-bg-color !default;

$vk-billing-link-color: $vk-text-mild-color !default;
$vk-billing-link-hover-color: $vk-brand-primary-color !default;
$vk-billing-link-icon-color: $vk-brand-primary-color !default;
$vk-billing-setup-border-color: $vk-border-color !default;
$vk-billing-payment-card-color: $vk-text-mild-color !default;
$vk-billing-payment-card-bg-color: $vk-static-bg-color !default;
$vk-billing-tour-page-color: $vk-text-mild-color !default;
$vk-billing-tour-summary-color: $vk-text-mild-color !default;
$vk-billing-tour-skip-button-color: $vk-text-mild-color !default;

$vk-img-logo-center-left-margin: -40px;

// ------ bootstrap overrides ------ // 

$text-color: $vk-text-color;
$brand-primary: $vk-brand-primary-color;
$brand-secondary: $vk-brand-secondary-color;

$body-bg: $vk-body-bg-color;
$grid-float-breakpoint: 992px;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: 18px;
$font-size-h1: 32px;
$font-size-h2: 26px;
$font-size-h3: $font-size-base;

$input-border-focus: $vk-brand-primary-color;
$table-border-color: $vk-border-color;

$brand-info: $vk-static-bg-color;
$btn-info-color: $text-color;
$btn-default-bg: $vk-static-bg-color;
$btn-default-color: $brand-secondary;

$modal-inner-padding: 55px;
$modal-content-border-color: $vk-border-color;
$modal-backdrop-bg: lighten($vk-modal-header-bg-color, 3%);
$modal-backdrop-opacity: .75;
$modal-header-border-color: $vk-border-color;
$modal-footer-border-color: $modal-header-border-color;
$modal-lg: 550px;
$modal-md: 550px;
$modal-sm: 300px;

$navbar-margin-top: 0;
$navbar-default-border: $vk-transparent-color;
$navbar-default-bg: $vk-static-bg-color;
$navbar-default-color: $vk-navbar-color;

$navbar-border-radius: $vk-navbar-border-radius;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-active-bg: $navbar-default-bg;
$navbar-default-link-active-color: $brand-primary;
$navbar-default-link-hover-bg: $vk-static-bg-color;
$navbar-default-link-hover-color: $vk-brand-primary-color;

$navbar-padding-vertical: 7px;
$navbar-height: 68px;

$nav-link-hover-bg: $vk-static-bg-color;
$nav-tabs-active-link-hover-color: $brand-primary;
$nav-tabs-border-color: $vk-brand-primary-color;
$nav-tabs-active-link-hover-border-color: $nav-tabs-border-color;

$progress-bg: $vk-static-bg-color;

$border-radius-base: $vk-border-radius;
$border-radius-large: $vk-border-large-radius;
$border-radius-small: $vk-border-small-radius;
$input-border-radius: $vk-input-border-radius;
$input-border-radius-large: $vk-input-border-large-radius;
$input-border-radius-small: $vk-input-border-small-radius;
$alert-border-radius: $vk-alert-border-radius;
$progress-border-radius: $vk-progress-border-radius;
$nav-pills-border-radius: $vk-navpills-border-radius;